{% extends 'image_search/base.html' %}

{% block content %}
<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to Droppy.Tech</h1>
        <p class="lead">Your way to spot dropshipping online!</p>
        <a href="{% url 'search' %}" class="btn btn-light btn-lg">Search</a>
    </div>
</header>
<section id="features" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Features</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Input your Image</h5>
                        <p class="card-text">Upload an image file or copy and paste a URL, it's that quick and easy!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Quick and Fast</h5>
                        <p class="card-text">Use our image search engine to find more similar looking images.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Search even when not on our website</h5>
                        <p class="card-text">Type droppy.com/search/ in front of the wanted URL to directly search without opening our website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}